<!DOCTYPE html>
<html lang="en">

<head>
  <title> Samuel Nwoye </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="styles/main.css" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <h2 id="topic" class="text-center"> Welcome to my Homepage </h2>
  <section>
    <div class="container">
      <div class="col-md-12">
        <div class="well">
          <article>
            <p>
              <h4 class="text-center"><strong> Who I am </strong></h4>
              <p id="opening" class="col-md-10-offset-2 text-justify">
                My Name is Samuel Nwoye, Certified Kubernetes Administrator and AWS Certified Solutions Architect 
                helping companies bring visibility into their infrastructure, removing bottle necks from these systems 
                and automating their software development and delivery workflows.
              </p>
              <h4 class="text-center"><strong> What I do </strong></h4>
              <p id="opening" class="col-md-10-offset-2 text-justify">
                I weave key automation technologies together in evaluating infrastructure and workloads thereon, 
                strip superfluous resources to save costs, advise as well as implement solutions that increases efficiency.
                I do these by:
              </p>
              <ul class="text-justify">
                <li> 
                  working closely with developement team to manage the software delivery of the application.
                </li>
                <li> 
                  deploying and managing seamless pipelines that enable them run their processes effeciently.
                </li>
                <li>
                  delivering business insight that uncover key areas to save costs for their business.
                </li>
              </ul>
            </p>
          </article>
        </div>
      </div>
    </div>
  </section>
  <hr>
  <footer class="text-center">&copy; 2020 Samuel Nwoye </footer>
</body>

</html>